<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Pay/PaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentServiceSoap"
                contract="ServiceReference1.PaymentServiceSoap" name="PaymentServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>